body, html {
    position: relative;
    height: 100%;
    font-family: arial, sans-serif;
    font-size: 1em;
    background: #ddd;
}
a {
    text-decoration: none;
}
table {
    font-size: 90%;
    width: 100%;
}
th {
    background: #999;
    font-size: .9em;
    padding: .4em;
}
tr {
    text-align: center;
}
tr td {
    padding: .6em .2em;
}
/* loading */

.loading {
    position: relative;
    height: 100%;
}
.loading:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5) no-repeat center center;
    background-image: url('loading.gif');
}
/* animations */

.fadein.ng-enter, .fadein.ng-leave {
    opacity: 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.fadein.ng-enter-stagger {
    transition-delay: .1s;
}
.fadein.ng-enter-active {
    opacity: 1;
}
.fadein.ng-leave {
    opacity: 1;
}
.fadein.ng-leave-active {
    opacity: 0;
}
/* grid */

.row {
    max-width: 50em;
    margin: auto;
}
/* helper classes */

.button {
    display: inline-block;
    color: #FFF;
    width: 10em;
    height: 1em;
    padding: 1em;
    background: #dc1431;
    text-align: center;
}
.left {
    float: left;
}
.white {
    color: #FFF;
}
.center {
    margin: auto;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 40em;
    border: 1px solid #999;
}
