
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script type="text/javascript"src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.js"></script>
<script type="text/javascript" src="main.js"></script>
<link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body ng-controller="myAppCtrl">
  <header class="clearfix">
    <form name="searchInstagram" novalidate class="wrapper center">
    <input type="text" name="query" ng-model="query"class="w66 left" placeholder="search term" required />
    <input type="button" value="submit" ng-disabled="searchInstagram.$error.required" class="w33 left" ng-click='submitQuery();' />
    </form>
  </header>
  <section class="status fadein success center" ng-class="{warning: searchInstagram.$error.required}">
      <p> </p>
      <p ng-if="searchInstagram.$error.required">Please fill out all fields.</p>
      <p ng-if="images.length"> {{images.length}} Results for '{{query}}'</p>
      <p ng-if="images.length == 0">No Results for '{{query}}'</p>

  </section>
  <main>
      <img ng-repeat="image in images" ng-src="{{image.images.standard_resolution.url}}" width="320" height="320" class="fadein thumbnail"/>
  </main>
</body>
</html>