
<!DOCTYPE html>
<html lang="en" ng-app="madLib">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <meta charset="UTF-8">
  <title>ngMadlibs - Automate This!</title>
<link rel="stylesheet" href="style.css">
<script src="main.js" type="text/javascript"></script>
</head>
<body ng-app>
  <header>
  <section>
  <img src="mad-lib-happy-face.png" class="left v-middle"/>
  <img src="ng-mad-libs-logo.png" class="v-middle" />
  </section>
  </header>
  <main ng-controller="madlibCtrl">
    <form class="clearfix" ng-submit='submitForm();' name="myForm"  ng-hide="submitted && myForm.$valid" novalidate>
      <h2>Provide the following words:</h2>
      <input type="text" placeholder="noun" ng-model="data.noun" required/>
      <input type="text" placeholder="food" ng-model="data.food" required/>
      <input type="text" placeholder="verb" ng-model="data.verb" required/>
      <input type="text" placeholder="adverb" ng-model="data.adverb" required/>
      <input type="text" placeholder="adjective" ng-model="data.adjective" required/>
      <input type="text" placeholder="color" ng-model="data.color" required/>
      <input type="text" placeholder="name" ng-model="data.name" required/>
      <input type="text" placeholder="nouns" ng-model="data.nouns" required/>
      <input type="text" placeholder="verbs" ng-model="data.verbs" required/>
      <input type="text" placeholder="body part" ng-model="data.bodypart" required/>
      <input type="text" placeholder="place" ng-model="data.place" required/>
      <input type="number" name="numberInput" placeholder="distance (must be number)" ng-model="data.number" required/>
      <input type="text" placeholder="article of clothing" ng-model="data.articleofclothing" required/>
      <button ng-click="submitForm()">Generate My Mad Lib</button>
    </form>

    <p ng-if="submitted && myForm.$error.required">Please fill out all fields.</p>
    <p ng-if="submitted && myForm.numberInput.$error">Distance input must be number</p>
   <span class="error" ng-if="myForm.numberInput.$error.number">
     Not valid number!</span>
    <div ng-if="submitted && myForm.$valid">
      <p>Picture yourself in a {{data.noun}} on a river,  <br />
      With {{data.food}} trees and {{data.food}} skies <br />
      Somebody calls you, you {{data.verb}} quite {{data.adverb}}, <br />
      A girl with {{data.adjective}} eyes.</p>

      <p>Cellophane {{data.nouns}} of {{data.color}} and green,<br />
      {{data.verb}} over your head.<br />
      {{data.verb}} for the girl with the {{data.noun}} in her eyes,<br />
      And she`s gone.</p>

      <p>{{data.name}} in the sky with {{data.nouns}}...<br />
      in the sky with ...<br />
      in the sky with ...</p>

      <p>Follow her down to a {{data.noun}} by a fountain<br />
      Where rocking horse {{data.nouns}} eat {{data.noun}} pies,<br />
      Everyone {{data.noun}} as you {{data.verbs}} past the flowers,<br />
      That {{data.verb}} so incredibly high.</p>

      <p>Newspaper {{data.nouns}} appear on the shore,<br />
      Waiting to take you away.<br />
      Climb in the back with your {{data.bodypart}} in the clouds,<br />
      And you`re gone.</p>

      <p>Picture yourself on a train in a {{data.place}},<br />
      {{data.number}} away...<br />
      With {{data.adjective}} porters with looking glass {{data.articleofclothing}},<br />
      Suddenly someone is there at the turnstile,<br />
      The girl with eyes.</p>

      <p>in the sky with ...<br />
      in the sky with ...<br />
      in the sky with ...</p>

      <button ng-click="resetForm()">Start Over</button>

    </div>
  </main>
  </section>
<script>

</script>
</body>
</html>