<table class="pure-table-striped text-center">
    <tr class="white">
        <th width="20%">Name</th>
        <th width="13%">Country Code</th>
        <th width="13%">Captial</th>
        <th width="13%">Area in km2</th>
        <th width="13%">Population</th>
        <th width="14.9%">Continent</th>
    </tr>
</table>
<section class="scroll">
    <table class="pure-table-striped text-center">
        <tr ng-repeat="country in countries | orderBy:'countryName'" ng-click="countryInfo(country.countryCode)">
            <td class="text-left" width="20%">{{country.countryName}}</td>
            <td width="13%">{{country.countryCode | uppercase}}</td>
            <td width="13%">{{country.capital}}</td>
            <td width="13%">{{country.areaInSqKm | number}}</td>
            <td width="13%">{{country.population
 | number}}</td>
            <td width="13%">{{country.continent | uppercase}}</td>
        </tr>
    </table>
</section>
