<h2 class="center-text mb1">Stay Chain helps you stay
    <br />commited to a good habit.</h2>

<form name="signup" id="signup" novalidate>
    <h3 class="center-text mb1">Signup</h3>
    <div class="clear">
        <label for="" class="g-wide--1 hidden">Email</label>
        <input type="text" name="email" class="g-wide--full" placeholder="Email" ng-model="user.email" ng-pattern="formvalidator.emailRegex" required>
    </div>
    <div class="clear">
        <label for="" class="g-wide--1 hidden">Username</label>
        <input type="text" name="username" ng-model="user.username" class="g-wide--full" placeholder="Username" ng-pattern="formvalidator.usernameRegex" ng-change="formvalidator.usernameIsAvailable(user.username, signup)" required>
    </div>
    <div class="clear">
        <label for="" class="g-wide--1 hidden">Password</label>
        <input type="password" name="password" class="g-wide--full" placeholder="Password" ng-model="user.password" ng-minlength="5" required>
    </div>
    <div class="clear">
        <label for="" class="g-wide--1 hidden">Confirm Password</label>
        <input type="password" name="repeatPassword" class="g-wide--full" placeholder="Confirm Password" ng-model="user.repeatPassword" ng-change="formvalidator.checkPassword(user, signup)" required>
    </div>
    <div ng-if="message">{{message}}</div>
    <div class="clear" ng-show="signup.$error">
        <ul class="msg-error">
            <li ng-show="signup.repeatPassword.$error.match">Passwords don't match.</li>
            <li ng-show="signup.$error.minlength">Must be 5 characters long.</li>
            <li ng-show="signup.username.$error.pattern">Must be 3 characters long, with no special characters.</li>
            <li ng-show="signup.username.$error.available">Username is unavailable.</li>
            <li ng-show="signup.email.$error.pattern">Must be valid email.</li>
        </ul>
    </div>
    <div class="clear">
        <input type="submit" class="button button--primary g-wide--full" value="Signup" ng-click="userService.signUp(user)" ng-disabled="signup.$invalid">
    </div>
    </form
