<h2 class="center-text mb1">Stay Chain helps you stay<br />commited to a good habit.</h2>
<form id="startchain" name="startchain" novalidate>
    <textarea name="chainDescription" class="g-wide--full" rows="4" cols="50" placeholder="I want too..." ng-model="field.chainDescription" required focus></textarea>
    <input ng-hide="auth.signedIn()" class="button--primary g-wide--full" type="submit" value="SIGN UP" ng-click="toggleModal('showSignUp')" ng-disabled="startchain.$invalid"/>
    <input ng-if="auth.signedIn()" class="button--primary g-wide--full" type="submit" value="Start Chain" ng-click="startChain(chainDescription)" />
</form>