
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script type="text/javascript"src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.js"></script>
<script type="text/javascript" src="main.js"></script>
<link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body ng-controller="myAppCtrl">
  <header class="clearfix">
    <form name="searchInstagram" novalidate class="wrapper center" ng-submit="submitQuery();">
    <input type="text" name="query" ng-model="query"class="w66 left" placeholder="search term" required />
    <input type="submit" value="submit" ng-disabled="searchInstagram.$error.required" class="w33 left"/>
    </form>
  </header>
  <section class="status fadein success center" ng-class="{warning: submitted && searchInstagram.$error.required || submitted && images.length == 0 }">
      <p> </p>
      <p ng-if="submitted && searchInstagram.$error.required">Please fill out all fields.</p>
      <p ng-if="submitted && images.length && !searchInstagram.$error.required"> {{images.length}} Results for '{{savedQuery}}'</p>
      <p ng-if="submitted && images.length == 0">No Results for '{{savedQuery}}'</p>

  </section>
  <main>
      <img ng-repeat="image in images" ng-src="{{image.images.low_resolution.url}}" width="320" height="320" class="fadein thumbnail"/>
  </main>
</body>
</html>